# virtual environments
venv/
.vscode/
# harvested data
harvests_*/
# old or test versions of the script
dev_scripts/
# R project files
*.Rproj
.Rproj.user
.Rhistory
# byte-compiled files
__pycache__/
*.py[cod]
*$py.class
# environment variables
.env
# logs
logs/